/* src/index.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* Nouveau : Fond noir */
  background-color: rgb(11, 14, 63); 
  color: #f0f0f0; /* Texte clair pour le fond noir */
}

/* Vous pouvez aussi ajouter un style pour l'input de recherche
.search-input {
    width: 100%;
    max-width: 600px;
} 
*/